extends layout

block content
  h2 Search Results for Chimes

  - let items = results
  div.container-fluid
    div.row
      each chimes, index in items
        div.col-sm-3.bg-light.p-3.m-2.rounded.shadow.text-center(
          onclick=`buy(${index})`, style="cursor: pointer;"
        )
          h5 #{chimes.name}
          p Material: #{chimes.material}
          p Cost: $#{chimes.cost}

  script.
    function buy(index) {
      alert("You purchased item " + index);
    }


          

